html
  script(src='https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/examples/vendor/aframe/build/aframe.min.js')
  script(src='https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/build/aframe-ar.js')

  body(style='margin : 0px; overflow: hidden;')
    a-scene(embedded='', arjs='trackingMethod: best;')
      -
        var width = 0.1
        var scale = '' + width + ' ' + width + ' ' + width
        var yellow = 'yellow'
        var red = 'red'
        var tran = 'rgba(255, 255, 255, 0)'
        var brown = '#ffbb00'
        var black = 'black'
        var colors = [trans, red, yellow, brown, black]
        var cols = [
           [0, 0, 0, 0, 0, 0, 4, 4, 4, 0, 0, 4, 4, 4, 0, 0, 0, 0, 0, 0],
           [0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0],
           [0, 0, 0, 0, 0, 0, 3, 4, 2, 2, 2, 2, 4, 3, 0, 0, 0, 0, 0, 0],
           [0, 0, 0, 0, 0, 3, 2, 2, 2, 2, 2, 2, 2, 2, 3, 0, 0, 0, 0, 0],
           [0, 0, 0, 0, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 0, 0, 0, 0],
           [0, 0, 0, 0, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 0, 0, 0, 0],
           [0, 0, 0, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 0, 0, 0],
           [0, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 0],
           [0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0],
           [0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0],
           [0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0],
           [0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0],
           [0, 0, 0, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 0, 0, 0],
           [0, 0, 0, 0, 3, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 3, 0, 0, 0, 0],
           [0, 0, 0, 0, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 0, 0, 0, 0],
           [0, 0, 0, 0, 0, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 0, 0, 0, 0, 0],
           [0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0],
           [0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0],
           [0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0],
           [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
           [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        ]
      a-anchor(hit-testing-enabled='true')
        each col, line in cols
          each color, i in col
            a-box(position='0 '+ line*width + ' ' + (i*width-1), material=color && 'opacity: 1' || 'opacity: 0', color=colors[color], scale=scale)
      a-camera-static
